<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li> 
				<li><a href="/blog">Blog posts</a></li> 
	        		<li><a href="https://drive.google.com/open?id=102BqSTw-Grcnj91AVzUVS1Kj7qF1b4c1">CV</a></li>
				<li><a href="https://www.linkedin.com/in/pipcourbois/">in</a></li>
	        		<li><a href="/about">About</a></li>
				<li><a href="mailto:pcourbois@gmail.com">email me</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
			</ul>
			</footer>
		</body>
	</html>
